.gradle/
build/
out/
run/
runs/

*.class
*.log
*.hprof
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.zip
*.tar
*.tar.gz

.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.classpath
.project

*.launch
hs_err_pid*
replay_pid*
